@font-face {
    font-family: 'Main';
    src: url(../font/KumbhSans-Regular.ttf);
}

body{
    font-family: 'Main';
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);

/*Neutral*/

    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

.main_inner{
    max-width: 90%;
    margin:0 auto;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    width: 100%;
}

.nav_left, .nav_right{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.navbar ul{
    display:flex;
    list-style-type: none;
    gap:15px;
}

.navbar ul li a{
    text-decoration: none;
    color:var(--Darkgrayishblue);
}

.navbar ul li a:hover{
    color:var(--Black)
}

.nav_right .avatar{
    width: 3rem;
    margin-right: 2rem;
}

.nav_right .avatar:hover{
    border:2px solid var(--Orange);
    border-radius: 25px;
}


.active{
    border:2px solid var(--Orange);

}

.hidden{
    display:none;
    visibility: hidden;
    overflow: hidden;
}


/*store*/


.store_inner{
    display:flex;
    justify-content: start;
    align-items: center;

    margin-top:55px;
}

.store_images{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}

.store_img_inner{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.store_img_inner img{
    width: 75%;
    border-radius: 15px;
}

.store_img_thumbnail{
    gap:25px;
    display:flex;
    justify-content: center;
    width: 100%; 
}


.store_img_thumbnail img{
    width: 15%;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.store_img_thumbnail img:hover{
    border:2px solid var(--Orange);
}

.store_img_thumbnail img:active{
    border:2px solid var(--Orange);
}

.store_text{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.store_text_inner{
    grid-column: 1/4;
}

.price:after{
    content: '50%';
    font-size:1rem;
    text-align: center;
    margin-left:10px;
    border-radius: 5px;
    padding:3px 5px 3px 5px;
    color:var(--Orange);
    background-color: var(--Paleorange);
}

.counter{
    display:flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--Lightgrayishblue);
    padding:15px;
    border-radius: 10px;
    font-weight: bold;
}

.counter img{
    width: 1.25rem;
}

.addBtn{
    display:flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    font-weight: 700;

    padding:15px;
    border-radius: 10px;
    outline:none;
    border:none;
    width: 100%;
    background-color: var(--Orange);
    text-align: center;
    color:white;
    cursor: pointer;
    transition: .25s ease all;
}

.addBtn:hover{
    background-color: orange;
}

.addBtn img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(109deg) contrast(101%);
}

.cart_inner{
    position: fixed;
    top:15%;
    left:63%;
    transform: translate(-10%,-10%);
    width: 400px;
    background-color:white;
    border-radius: 15px;
    padding:25px;
    box-shadow: 0 0 2.5rem rgba(0,0,0,.3);

    display:flex;
    gap:25px;
    flex-direction: column;
}

.cart{
    cursor: pointer;
}

.newSneaker {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px; 
    /* display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;*/
    
}

.newSneaker .sneakerImg{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.newSneaker .deleteBtn{
    width: 1.5rem;
    cursor:pointer;
    transition:.1s ease all;
}

.newSneaker .deleteBtn:hover{
    filter:  invert(56%) sepia(24%) saturate(7429%) hue-rotate(332deg) brightness(106%) contrast(110%);;
}
